{% extends "emails/base.html" %}
{% load email %}
{% block container %}
{% body %}
    Somebody recently asked to reset your VMS password.

    click the link below to change your password.
    If you didn't request a new password, let us know immediately.

    {{ reset_link }}
    --------------
    copyright 2017 VMS
{% endbody %}

{% bodyhtml %}
    <link rel="stylesheet" type="text/css" href="../css/verify.css"/>
    <link rel="stylesheet" type="text/css" href="../css/base.css"/>
    <div class="paragraph">
        Hi,
        <div>
            Somebody recently asked to reset your VMS password.
            <br><br>
            <strong>Didn't request this change?</strong>
            If you didn't request a new password, <a href="{{ support_link }}" class="italic underline">let us know immediately</a>
        </div>

        <div class="action-button-ctn">
            <a href="{{ reset_link }}">
            <div class="button">
                Click Here To Reset Password
            </div>
            </a>
        </div>
    </div>
{% endbodyhtml %}
{% endblock container %}
