{% extends "emails/base.html" %}
{% load email %}
{% block container %}
{% body %}
    Somebody recently asked to reset your VMS PIN.

    To log on to VMS App, use the following PIN:

    PIN: {{ pin }}

    --------------
    copyright 2017 VMS
{% endbody %}

{% bodyhtml %}
    
    
    <div class="paragraph" style="line-height: 1.6; padding-bottom: 20px;">
        Hi,
        <div>
            Somebody recently asked to reset your VMS PIN.
            <br><br>
            <strong>Didn't request this change?</strong>
            If you didn't request a new PIN, <a href="{{ support_link }}" class="italic underline" style="color: #000; text-decoration: underline; font-style: italic;">let us know immediately</a>
            <br><br>
        </div>

        <hr>
        <div>To log on to VMS App, use the following PIN:<br><br></div>
        <div>
            <strong>PIN:</strong> {{ pin }}
        </div>
    </div>
{% endbodyhtml %}
{% endblock container %}
