{% extends "emails/base.html" %}
{% load email %}
{% block container %}
{% body %}
    Somebody recently asked to reset your VMS password.

    click the link below to change your password.
    If you didn't request a new password, let us know immediately.

    {{ reset_link }}
    --------------
    copyright 2017 VMS
{% endbody %}

{% bodyhtml %}
    
    
    <div class="paragraph" style="line-height: 1.6; padding-bottom: 20px;">
        Dear {{ username }},
        <div>
            Somebody recently asked to reset your VMS password.
            <br><br>
            <strong>Didn't request this change?</strong>
        </div>

        <div class="action-button-ctn" style="text-align: center; padding-top: 60px;">
            <a href="{{ reset_link }}" style="text-decoration: none; color: #000;">
            <div class="button" style="padding: 20px 60px; background-color: #6091bc; color: #FFF; text-align: center; display: inline-block;">
                Click Here To Reset Password
            </div>
            </a>
        </div>
    </div>
{% endbodyhtml %}
{% endblock container %}
